{% extends 'base.html.twig' %}

{% block title %}Edit Novel{% endblock %}

{% block body %}
    <h1>Edit Novel</h1>

    {{ include('novel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_novel_index') }}">back to list</a>

    {{ include('novel/_delete_form.html.twig') }}
{% endblock %}
