{% extends 'base.html.twig' %}

{% block title %}New Novel{% endblock %}

{% block body %}
    <h1>Create new Novel</h1>

    {{ include('novel/_form.html.twig') }}

    <a href="{{ path('app_novel_index') }}">back to list</a>
{% endblock %}
