.middleForm {
    color: #fff;
    margin: 10% 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #808080FF;
    box-shadow: 0 0 10px #ccc;
}

.btn-signin{
    margin-top: 30px;
    margin-bottom: 15px;
    background: #2ecc71;
    border: 1px solid #2ecc71;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 45%;
    width: 10%;
}

.btn-signin:hover{
    background: #27ae60;
    border: 1px solid #27ae60;
}
