.personal-readable-page {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

.readable-title {
    font-size: 24px;
    color: #fff;
}

.readable-author {
    font-style: italic;
    color: #aaa;
    margin-bottom: 10px;
}

.readable-description {
    margin-top: 20px;
}

.readable-description h2,
.readable-schedule h2 {
    font-size: 20px;
    color: #007bff;
    margin: 10px 0;
}

.day {
    font-weight: bold;
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
