{% extends 'base.html.twig' %}

{% block title %}Manga list{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleListing.css') }}">
    {% endblock %}

    {# Partie mangas #}
    <div class="border border-light border-2 rounded p-2" style="margin-top: 7%;background: #383838;">
        <h1 style="color: #be0d2f">Manga List</h1>
        {% include 'assets/listing.html.twig' with {'readables' : mangas, 'route' : "mangas_show"} %}
        {{ knp_pagination_render(mangas) }}
        <p class="ml-5" style="color: whitesmoke">Tired of only reading mangas ? Check out our <a href="{{ path('home') }}" style="color: whitesmoke">other categories!</a></p>
    </div>

{% endblock %}
