{% extends 'base.html.twig' %}

{% block title %}Manhwas list{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleListing.css') }}">
    {% endblock %}

    {# Partie manhwas #}
    <div class="border border-light border-2 rounded p-2" style="margin-top: 7%; background: #383838;">
        <h1 style="color: #1daf29">Manhwa List</h1>
        {% include 'assets/listing.html.twig' with {'readables' : manhwas, 'route' : "manhwas_show"} %}
        {{ knp_pagination_render(manhwas) }}
        <p class="ml-5" style="color: whitesmoke">Tired of only reading manhwas ? Check out our <a href="{{ path('home') }}" style="color: whitesmoke">other categories!</a></p>
    </div>
{% endblock %}
