{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleListing.css') }}">
    {% endblock %}

    {# Partie Novels #}
    <div class="border border-light border-2 rounded p-2" style="margin-top: 7%; background: #383838;">
        <h1 style="color: #373dc2">Novel List</h1>
        <ul>
            {% include 'assets/listing.html.twig' with {'readables' : novels, 'route' : "novels_show"} %}
            <p class="ml-5" style="color: whitesmoke">Want more novels ? Check out our other <a href="{{ path('novels') }}" style="color: whitesmoke">novels!</a></p>
        </ul>
    </div>

    {# Partie mangas #}
    <div class="border border-light border-2 rounded p-2" style="margin-top: 4%;background: #383838;">
        <h1 style="color: #be0d2f">Manga List</h1>
        {% include 'assets/listing.html.twig' with {'readables' : mangas, 'route' : "mangas_show"} %}
        <p class="ml-5" style="color: whitesmoke">Want more mangas ? Check out our other <a href="{{ path('mangas') }}" style="color: whitesmoke">mangas!</a></p>
    </div>

    {# Partie manhwas #}
    <div class="border border-light border-2 rounded p-2" style="margin-top: 4%; background: #383838;">
        <h1 style="color: #1daf29">Manhwa List</h1>
        {% include 'assets/listing.html.twig' with {'readables' : manhwas, 'route' : "manhwas_show"} %}
        <p class="ml-5" style="color: whitesmoke">Want more manhwas ? Check out our other <a href="{{ path('manhwas') }}" style="color: whitesmoke">manhwas!</a></p>
    </div>

{#    <div style="margin-top: 4%; color: #383838; background: #383838">#}
{#        a#}
{#    </div>#}

{% endblock %}
